@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*
Resetting margin, padding for all elements
and setting box-sizing to border-box
to include padding and border in the element's total width and height
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

/*
Scrollbar styling for better UX
*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b0d10;
}

::-webkit-scrollbar-thumb {
  background: #2a5e95;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3083dc;
}

/*
Global styles for the page
Font family is set to Montserrat
*/
body {
  font-family: "Montserrat", sans-serif;
  background-color: #0b0d10;
  color: #fff;
  position: relative;
  padding: 0 2rem;
}

#body-bg {
  position: absolute;
  background-image: url("../img/hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  opacity: 0.04;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  padding: 1rem 0;
}

#logo {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 2rem;
  position: relative;
  text-shadow: 0 1rem 1rem #2a5e95;
}

#logo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 100%;
  height: 8px;
  z-index: -1;
  background-color: #2a5e95;
  transform: skewX(-30deg);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

nav ul li {
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  cursor: pointer;
  font-weight: 600;
}

nav ul li::after,
footer li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #2a5e95;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

li:hover::after,
footer li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#date {
  font-size: 12px;
  font-weight: 600;
}

.primary-btn,
.secondary-btn {
  background-color: #fff;
  color: #111;
  text-transform: uppercase;
  border: 1px solid #fff;
  outline: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.secondary-btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.large-btn {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
}

/* CONTENT STARTS HERE */
main {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

/* LEFT */
#account-container {
  padding: 1rem;
  position: sticky;
  top: 1rem;
  z-index: 10;
  background-color: rgba(11, 13, 16, 0.6);
  border-radius: 1rem;
  flex: 1;
  align-self: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-radius: 10px;
  height: 100%;
}

.avatar {
  position: relative;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  background: white;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}

.credit-card {
  aspect-ratio: 1.6 / 1;
  position: relative;
  background: linear-gradient(45deg, #2a5e95, #0b243e);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.credit-card:hover {
  scale: 1.1;
}

#credit-card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url("../img/world.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.credit-card .card-icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.credit-card .card-icons img {
  height: 24px;
  object-fit: cover;
}

.credit-card .card-number {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.8rem;
  z-index: 1;
}

.credit-card .card-info {
  display: flex;
  column-gap: 2rem;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.card-info .title {
  font-size: 0.5rem;
  text-transform: uppercase;
  z-index: 1;
}

.card-info .card-holder,
.card-info .card-expiry {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 0.8rem;
  z-index: 1;
}

.expenses {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  width: 100%;
}

.expenses .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expenses .title h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.expenses .title span {
  font-size: 0.8rem;
  font-weight: 500;
  color: #3083dc;
  cursor: pointer;
}

.expenses .expenses-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.expenses-list .expense {
  display: flex;
  align-items: center;
}

.expense {
  padding: 0.5rem;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

.expense:hover {
  background: linear-gradient(45deg, #2a5e95, #0b243e);
}

.expense .expense-logo {
  padding: 0.8rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  overflow: hidden;
  margin-right: 0.5rem;
}

.expense .detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.expense .detail div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.expense .detail div :last-child {
  font-size: 0.8rem;
  font-weight: 300;
}

.expense .detail span {
  font-size: 1rem;
  font-weight: 600;
}

/* MIDDLE */
#content-container {
  flex: 3;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#content-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
  background: linear-gradient(-45deg, #2a5e95, #0b243e);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 10px;
}

#content-container hr {
  border: none;
  border-top: 1px solid #efefef;
  opacity: 0.5;
}

#content-container article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#content-container article h1 {
  font-size: 1.3rem;
  font-weight: 600;
}

#content-container article p {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
}

/* RIGHT */
#currency-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  position: sticky;
  top: 0;
  align-self: flex-start;
  padding: 1rem;
}

.balance-card {
  background: linear-gradient(45deg, #2a5e95, #0b243e);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.balance-card h4 {
  font-size: 0.6rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.balance-card h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

.balance-card span {
  font-size: 0.8rem;
  font-weight: 600;
  color: #dfdfdf;
  opacity: 0.6;
}

.quick-transfers {
  display: flex;
  gap: 1rem;
}

.quick-transfers .transfer {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  background: rgba(11, 36, 62, 0.4);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.transfer:hover {
  scale: 1.1;
}

.new {
  border: 2px dashed #0b243e;
  background: none !important;
}

.new .img-container {
  background: #0b243e;
  color: #3083dc;
  font-weight: 700;
}

.transfer .img-container {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transfer .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.transfer .full-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
}


#currency-container .currency-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#currency-container > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#currency-container > .title h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

#currency-container > .title span {
  font-size: 0.8rem;
  font-weight: 500;
  color: #3083dc;
  cursor: pointer;
}

#currency-container > .title span:hover {
  opacity: 0.8;
}

.currency-card {
  background: linear-gradient(-45deg, #2a5e95 30%, #0b243e);
  padding: 0.5rem;
  border-radius: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.currency-card .currency-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.currency-info .icon {
  padding: 0.8rem;
  border-radius: 8px;
  display: grid;
  place-items: center;
  background-color: #181818;
  overflow: hidden;
}

.currency-info .icon img {
  width: 18px;
  height: 18px;
}

.currency-info .title {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.currency-info .title .name {
  font-size: 0.8rem;
  font-weight: 600;
}

.currency-info .title .abbr {
  font-size: 0.6rem;
  font-weight: 300;
}

.currency-info h3 {
  font-size: 1rem;
  margin-left: auto;
}

.currency-card .change {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  gap: 0.4rem;
}

.currency-card .change .difference {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-left: auto;
  font-weight: 600;
  font-size: 0.8rem;
}

.up {
  color: #00ff00;
}

.down {
  color: #ff0000;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

form img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

form .form-group input,
form .form-group textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  font-size: 1rem;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  resize: vertical;
  min-height: 2rem;
}

form .form-group input::placeholder,
form .form-group textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: #fff;
}

form .form-group button {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  font-size: 1rem;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

form .form-group button:hover {
  background-color: #fff;
  color: #111;
}

/* FOOTER */
footer {
  background: linear-gradient(-45deg, #2a5e95, #0b243e);
  color: #fff;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer div > h3 {
  width: min-content;
}

footer div > p {
  font-size: 0.8rem;
  font-weight: 300;
}

footer ul,
footer h5 {
  list-style: none;
  text-align: left;
  cursor: pointer;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer ul li {
  position: relative;
  font-size: 0.8rem;
}
